---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import MediaBar from '../components/MediaBar.astro';
import MarketProof from '../components/MarketProof.astro';
import Differentials from '../components/Differentials.astro';
import Quiz from '../components/Quiz.astro';
import NetworkNumbers from '../components/NetworkNumbers.astro';
import StoreGallery from '../components/StoreGallery.astro';
import VideoInstitucional from '../components/VideoInstitucional.astro';
import BusinessModel from '../components/BusinessModel.astro';
import Testimonials from '../components/Testimonials.astro';
import Recognition from '../components/Recognition.astro';
import Urgency from '../components/Urgency.astro';
import Faq from '../components/Faq.astro';
import LeadForm from '../components/LeadForm.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFloat from '../components/WhatsAppFloat.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <MediaBar />
    <MarketProof />
    <Differentials />
    <Quiz />
    <NetworkNumbers />
    <StoreGallery />
    <VideoInstitucional />
    <BusinessModel />
    <Testimonials />
    <Recognition />
    <Urgency />
    <Faq />
    <LeadForm />
  </main>
  <Footer />
  <WhatsAppFloat />
</BaseLayout>
